<launch>

  <!-- Launch static transform publishers -->
  <!-- T265 pointing forward - 5" in front and 3" down from center of FC -->
  <node pkg="tf" type="static_transform_publisher" name="tf_baseLink_cameraPose"
        args="0.127 0 -0.0762 0 0 0 base_link camera_pose_frame 1000"/>

  <!-- Launch static transform publishers -->
  <node pkg="tf" type="static_transform_publisher" name="tf_odom_cameraOdom"
        args="0 0 0 0 0 0 odom camera_odom_frame 1000"/>


  <!-- launch node to throttle images for logging -->
  <node name="drop_image1" pkg="topic_tools" type="drop" output="screen"
    args="/camera/fisheye1/image_raw  9 10">
  </node>
  <node name="drop_image2" pkg="topic_tools" type="drop" output="screen"
    args="/camera/fisheye2/image_raw  9 10">
  </node>

  <!-- Throttle odometry messages to a fixed rate around 25Hz -->
  <node name="odom_throttler" type="drop" pkg="topic_tools" 
    args="/camera/odom/sample 7 8 /camera/odom/sample_throttled" >
  </node>

  <!-- Launch Realsense Camera -->
  <include file="$(find realsense2_camera)/launch/rs_t265.launch" >
      <arg name="enable_fisheye1"          value="true"/>
      <arg name="enable_fisheye2"          value="true"/>
      <arg name="fisheye_fps"              value="30"/>
      <arg name="gyro_fps"                 value="200"/>
      <arg name="accel_fps"                value="62"/>
      <arg name="enable_gyro"              value="false"/>
      <arg name="enable_accel"             value="false"/>
      <arg name="publish_odom_tf"          value="false"/>
  </include>

  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find px4_realsense_bridge)/resource/custom_rosconsole.conf"/>

  <arg name="input_topic" default="[/camera/odom/sample]"/>

  <!-- Bridge node -->
  <node name="px4_realsense_bridge_node" pkg="px4_realsense_bridge" type="px4_realsense_bridge_node" output="screen" >
    <rosparam param="input_topic" subst_value="True">$(arg input_topic)</rosparam>
  </node>

</launch>
